body {
  /* background-image: url("wavy.jpg");*/
  background-color: #0275d8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
}
